{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}
{% include 'navbar.html'%}




{% block content %}
<div class="container">
	<div class="row">
		<div class="jumbotron">
				{{wtf.quick_form(pitch_form)}}
		<ul style="list-style: none;">
				{% for pitch in pitches %}
					<div class="list-group">
						<a href="#">
							<div class="list-item">
								<p>{{pitch.id}}</p>
							</div>
							<h4 class="card-body">{{ pitch.description }}</h4>
							<p>{{ pitch.company }}</p>
							<p>{{ pitch.state }}</p>
							<p>{{ pitch.qualifications}}</p>
						</a>
					</div>
				{% endfor %}
		</ul>
		</div>
	</div>
</div>
	
	
{% endblock %}