{% include 'navbar.html'%}

{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}

{% block content %}

<body style="background-image: url('https://images.pexels.com/photos/1308624/pexels-photo-1308624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
        <div class= "container">

                <div class="card">
                                <div class="card-body text-center" style="color: beige">
                                <h4><a>{{pitch.title}}</a></h4>
                                  <h5 class="card-text text-center">{{pitch.description}}.</h5>
                                </div>
                </div>


                
                                <div class="row">
                                        <div class= "col-6">
                                        
                                                {{wtf.quick_form(form)}}
                                        </div>
                                        
                                
                        
        
        
                <div class="col-6">
                        <h4 style="background-color:#171810; text-align: center;text-underline-position: below">Comments</h4>
                        {{ macro.displayComment(comment) }}

                </div>
        </div>
        </div>
        



	
{% endblock %}